name: Daily Flight Search

on:
  schedule:
    - cron: "0 7 * * *"  # Ejecuta cada día a las 07:00 UTC
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Run script
        env:
          GMAIL_USER: ${{ secrets.GMAIL_USER }}
          GMAIL_PASSWORD: ${{ secrets.GMAIL_PASSWORD }}
          START_DATE: "2026-01-23"  # puedes cambiar aquí la fecha inicial
        run: python weekends.py
